Source: libaudio-rpld-perl
Priority: optional
Maintainer: Philipp Schafft <lion@lion.leolix.org>
Uploaders: Patrick Matthäi <pmatthaei@debian.org>
Build-Depends: debhelper (>= 5)
Standards-Version: 3.9.0
Section: libs
Homepage: http://roaraudio.keep-cool.org/

Package: libaudio-rpld-perl
Architecture: all
Suggests: roaraudio | roaraudio-server
Recommends: roarplaylistd
Depends: ${perl:Depends}, ${misc:Depends}
Description: Perl module to access the RoarAudio PlayList Daemon
 This Perl module is to control the RoarAudio PlayList Daemon.
 The RoarAudio PlayList Daemon is a daemon to manage playlists
 and play them back using RoarAudio as backend.
 This module is used to control this daemon from Perl.
 It provides a simple and clean Object oriented interface.
